.campaigns
  table.campaigns-table
    thead
      tr.folders
        th.no-fold( colspan="2" )
          | &nbsp;
        th.folder
          img.minus-sign( src="img/minus-sign.png" )
        th.folder( colspan="5" )
          img.minus-sign( src="img/minus-sign.png" )

        for goal in goals
          th.folder( colspan="#{goal.numParams}" )
            img.minus-sign( src="img/minus-sign.png" )

      tr
        th( rowspan="2" )
          | &nbsp;
        th( rowspan="2" )
          | КАМПАНИИ
        th( rowspan="2" ).start-of-block.end-of-block
          | Статус
        th( rowspan="2" ).start-of-block
          | Показы
        th( rowspan="2" )
          | Клики
        th( rowspan="2" )
          | CTR
        th( rowspan="2" )
          | CPC
        th( rowspan="2" ).end-of-blocks
          | Затраты

        for goal in goals
          th( colspan="#{goal.numParams}").start-of-block.end-of-block
            .goal-name
              | #{goal.name}
            .goal-id
              |  &#8212; Цель #{goal.goal_id} &#8212;
      tr
        for goal in goals
          th.start-of-block
            | CPA, р.
          th
            | CR, %
          th.end-of-block
            | Кол-во

      tr.total
    tbody.items
